.navbar {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid $main-pink;
}

.navbar-nav {
  align-items: center;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 60px;
}


.search-field {
  width: 300px;
  padding-inline-start: 1em;

}

.navbar .navbar-nav .nav-link {
  font-weight: 500;
  font-size: 14px;
  padding: 0 10px;
}

.navbar-home {
  background-color: transparent;
  transition: 0.5s background-color ease;
  opacity: 0.9;
}

.navbar-home--white {
  background-color: white;
}
